body
{
	margin: 0;
	background-color: grey;
}


.HeaderMenuNav
{
	width:100%;
	height: 10%;
	position: absolute;
	top: 0;
	left:0;

	background-color: rgba(84, 84, 84, 0.5);
}

.HeaderMenu
{
	list-style-type: none;
	margin:0;
	padding:0;

	padding-left: 25%;
	overflow: hidden;

	height:100%;
	width:25%;
	font-size: 20px;

	float:left;
}

.HeaderMenu li
{
	float:left;
	height:100%;
}

.HeaderMenu li a
{

	display:block;
	color: white;
	text-align: center;
	padding:14px 16px;
	text-decoration: none;
	color:whtie;
}

.HeaderMenu li img
{
	padding:14px 16px;
}

.HeaderMenu li a:hover
{
	color:#333;
}

.headerLinkImg
{
	height: 50%;
}

.Icons
{
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;

	padding-right: 25%;

	width:25%;
	height:100%;

	float:right;
}

.Icons ul
{
	float:left;
}

.Icons li
{
	float: right;
	height: 100%;
}

.Icons li img
{
	padding:14px 16px;
}

.ExampleImgs
{
	width:100%;
	height: 100%;
}

.ExampleImgs img
{
	width:100%;
	height: 100%
}

.ExampleImgsTextOverlay
{
	position: absolute;
    width: 30%;
    top: 0;
    padding: 15% 35%;

    color:white;
    text-align: center;
}

.productLink:link, .productLink:visited
{
	color:black;
	text-decoration: none;
}

.product
{
	min-width: 100px;
	min-height: 250px;

	width:90%;
	height: 40%;

	background-color: aliceblue;
	box-shadow: 5px 7px rgba(64,64,64, 0.5);

	margin:1% 0;
}

.container
{
	width:90%;
	margin: 0 5%;

}

.col-sm-6
{
	width:33%;
	float:right;
}

.col-sm-6 img
{
	width:90%;
	margin:0 5%;

	height: 50%;
}

.col-sm-6 p
{
	margin:5%;
}

.productTitle
{
	font-size: 20px;
}

.productDesc
{
	font-size: 15px;
}